@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #ff00ff;
}

#column-2 {
  background: #ff11dd;
}

#column-3 {
  background: #bb00bb;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #FFC2FF;
  }

  #column-1 {
    background-color: #0000FF;
  }

  #column-2 {
    background-color: #FF8E3D;
  }

  #column-3 {
    background-color: #00002C;
  }

  footer {
    background-color: #000093;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #FF0000;
  }

  #column-1 {
    background-color: #FF8800;
  }

  #column-2 {
    background-color: #FFFF00;
  }

  #column-3 {
    background-color: #00ED00;
  }

  footer {
    background-color: #00E1FF;
  }
   
}
